apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: minio-console-ingressroute
  namespace: {{ minio_tenant_namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`minio.{{ traefik_domain }}.com`)
      kind: Rule
      services:
        - name: minio-console
          port: 9443
  tls:
    secretName: wildcard-{{ traefik_domain }}-minio-console-tls 