# from https://min.io/docs/minio/kubernetes/upstream/operations/cert-manager/cert-manager-operator.html#minio-certmanager-operator
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ minio_operator_namespace }}-ca-certificate
  namespace: {{ minio_operator_namespace }}
spec:
  isCA: true
  commonName: {{ minio_operator_namespace }}
  secretName: {{ minio_operator_namespace }}-ca-tls
  duration: 70128h
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
    group: cert-manager.io