# from https://min.io/docs/minio/kubernetes/upstream/operations/cert-manager/cert-manager-operator.html#minio-certmanager-operator
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: sts-certmanager-cert
  namespace: {{ minio_operator_namespace }}
spec:
  dnsNames:
    - sts
    - sts.{{ minio_operator_namespace }}.svc
    - sts.{{ minio_operator_namespace }}.svc.cluster.local
  secretName: sts-tls
  issuerRef:
    name: {{ minio_operator_namespace }}-ca-issuer