# from https://min.io/docs/minio/kubernetes/upstream/operations/cert-manager/cert-manager-tenants.html#minio-certmanager-tenants
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ minio_tenant_namespace }}-certmanager-cert"
  namespace: "{{ minio_tenant_namespace }}"
spec:
  dnsNames:
    - "minio.{{ minio_tenant_namespace }}"
    - "minio.{{ minio_tenant_namespace }}.svc"
    - 'minio.{{ minio_tenant_namespace }}.svc.cluster.local'
    - '*.minio.{{ minio_tenant_namespace }}.svc.cluster.local'
    - '*.{{ minio_tenant_name }}-hl.{{ minio_tenant_namespace }}.svc.cluster.local'
    - '*.{{ minio_tenant_name }}.minio.{{ minio_tenant_namespace }}.svc.cluster.local'
  secretName: "{{ minio_tenant_name }}-tls"
  issuerRef:
    name: "{{ minio_tenant_namespace}}-ca-issuer"