# tenant-1-ca-certificate.yaml
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ minio_tenant_namespace }}-ca-certificate
  namespace: {{ minio_tenant_namespace }}
spec:
  isCA: true
  commonName: {{ minio_tenant_namespace }}-ca
  secretName: {{ minio_tenant_namespace }}-ca-tls
  duration: 70128h # 8y
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-root
    kind: ClusterIssuer
    group: cert-manager.io