apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: minio-console
  namespace: minio-tenant
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`minio.{{ traefik_domain }}.com`)
      kind: Rule
      services:
        - name: minio-console
          port: 80
  tls:
    secretName: wildcard-{{ traefik_domain }}-minio-tls 