# Root key for MinIO Tenant Chart
tenant:
  ###
  # The Tenant name
  #
  # Change this to match your preferred MinIO Tenant name.
  name: {{ minio_tenant_name }}

  image:
    repository: quay.io/minio/minio
    tag: RELEASE.2025-04-08T15-41-24Z
    pullPolicy: IfNotPresent
  configSecret:
    name: {{ minio_tenant_name }}-env-configuration
    accessKey: minio
    secretKey: minio123
    #existingSecret: true
  pools:
    - servers: {{ minio_servers }}
      name: pool-0
      volumesPerServer: {{ minio_volumes_per_server }}
      size: {{ minio_capacity_per_tenant }}
  requestAutoCert: true
ingress:
  api:
    enabled: true
    ingressClassName: "traefik"
    labels: { }
    annotations: { }
    tls: [ ]
    host: minio.wolskinet.com
    path: /
    pathType: Prefix
  console:
    enabled: true
    ingressClassName: "traefik"
    labels: { }
    annotations: { }
    tls: [ ]
    host: minio-console.wolskinet.com
    path: /
    pathType: Prefix
