write-kubeconfig-mode: "0644"
tls-san:
  - {{ vip }}
{% for controller in groups['controllers'] %}
  - {{ hostvars[controller].ansible_host }}
{% endfor %}
node-label:
  - node-role.kubernetes.io/control-plane=true
disable: rke2-ingress-nginx