write-kubeconfig-mode: "0644"
token: {{ hostvars[groups['controllers'][0]]['token'] }}
server: https://{{ hostvars[groups['controllers'][0]]['ansible_host'] }}:9345
tls-san:
  - {{ vip }}
  - {{ hostvars[groups['controllers'][0]].ansible_host }}
  - {{ hostvars[groups['controllers'][1]].ansible_host }}
  - {{ hostvars[groups['controllers'][2]].ansible_host }}
node-label:
  - server=true
disable: rke2-ingress-nginx
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
