write-kubeconfig-mode: "0644"
token: {{ hostvars[groups['controllers'][0]]['token'] }}
server: https://{{ hostvars[groups['controllers'][0]]['ansible_host'] }}:9345
tls-san:
  - {{ vip }}
{% for controller in groups['controllers'] %}
  - {{ hostvars[controller].ansible_host }}
{% endfor %}
node-label:
  - node-role.kubernetes.io/control-plane=true
disable: rke2-ingress-nginx
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
