apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-{{ traefik_domain }}-rancher
  namespace: cattle-system
spec:
  secretName: wildcard-{{ traefik_domain }}-rancer-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: "{{ traefik_domain }}.com"
  dnsNames:
  - '*.{{ traefik_domain }}.com'
  - "{{ traefik_domain }}.com"