apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: rancher-ingressroute
  namespace: cattle-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`rancher.{{ traefik_domain }}.com`)
      kind: Rule
      services:
        - name: rancher
          port: 443
  tls:
    secretName: wildcard-{{ traefik_domain }}-rancher-tls 