deployment:
  enabled: true
  kind: Deployment
  replicas: 3
ingressRoute:
  dashboard:
    enabled: {{ traefik_dashboard_expose }}
    matchRule: Host(`dashboard.{{traefik_domain}}.com`)
    entryPoints:
      - web
ingressClass:  
  enabled: true
  isDefaultClass: true
  name: "traefik"
providers:
  kubernetesCRD:
    enabled: true
  kubernetesGateway:
    enabled: true
  kubernetesIngress:
    enabled: true
web:
  redirections:
    entryPoint: websecure
