hostname: "rancher.{{ traefik_domain }}.com"

ingress:
  enabled: true
  includeDefaultExtraAnnotations: true
  extraAnnotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  ingressClassName: ""
  pathType: ImplementationSpecific
  path: "/"
  servicePort: 80
  tls: ingress

replicas: 3