hostname: "rancher.{{ traefik_domain }}.com"

ingress:
  enabled: true
  includeDefaultExtraAnnotations: true
  extraAnnotations: {}
  ingressClassName: ""
  pathType: ImplementationSpecific
  path: "/"
  servicePort: 80
  tls:
    source: secret
    secretName: wildcard-{{ traefik_domain }}-rancher-tls

replicas: 3