deployment:
  enabled: true
  kind: Deployment
  replicas: 3
ingressClass:  # @schema additionalProperties: false
  enabled: true
  isDefaultClass: true
  name: ""
gateway:
  enabled: true
  namespacePolicy: All
  listeners:
    web:
      port: 80
      protocol: HTTP
    websecure:
       port: 443
       protocol: HTTPS
ingressRoute:
  dashboard:
    enabled: false
    matchRule: Host(`dashboard.localhost`)
    entryPoints:
      - web
providers:
  kubernetesGateway:
    enabled: true
gateway:
  namespacePolicy: All
ports:
  web:
    port: 8000
    expose: 
      default: true
    exposedPort: 80
    redirections:
      to: websecure
      scheme: https
      permanent: true
  websecure:
    port: 8443
    expose: 
      default: true
    exposedPort: 443
    tls:
      enabled: true
  traefik:
    port: 8080
    expose:
      default: false
    exposedPort: 8080
tlsStore:
  default:
    defaultCertificate:
      secretName: wildcard-{{ traefik_domain }}-traefik-tls

