hostname: "rancher.{{ traefik_domain }}.com"
ingress:
  enabled: false
  tls:
    source: secret

tls: "ingress"

replicas: 3

secrets:
  tlsSecret:
    name: wildcard-{{ traefik_domain }}-com-tls
    namespace: cattle-system